[Unit]
Description=CSYE 6225 Flask App
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/home/csye6225/webapp_main/webapp
Environment="DB_USER=clouddev"
Environment="DB_PASSWORD=Cloud123"
Environment="DB_NAME=cloud"
Environment="FLASK_APP=main.py"
Environment="FLASK_ENV=production"
ExecStart=/home/sai/venv/bin/python /home/csye6225/webapp_main/webapp/main.py
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
